{include  file='public:header'/}


<div class="admin-main-bt">
    <ul>
        <li class="li1">后台首页</li>
        <li class="li2">url</li>
        <li class="li2 li3">站外推广</li>
    </ul>
</div>



<div class="admin-main-js admin-main-sc">
    <div class="comiis_19ditu ">
        <ul class="admin-ditu-bg cl masonry" style="position:relative; height:100%;">


            <p class="attention">
                <a class="admin-btn-default">站外推广URL：</a>
                <a class="admin-btn-default-push">{$url_link}</a>
            </p>
        </div>
</div>




{include  file='public:footer'/}
