<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{$CONFIG.site.sitename}管理后台</title>
        <meta name="description" content="{$CONFIG.site.sitename}管理后台" />
        <meta name="keywords" content="{$CONFIG.site.sitename}管理后台" />

        <link href="__PUBLIC__/admin/statics/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="__PUBLIC__/js/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <script src="__PUBLIC__/js/jquery.js"></script>
        <script src="__PUBLIC__/js/jquery-ui.min.js"></script>
        <script src="__PUBLIC__/js/my97/WdatePicker.js"></script>
        
        <script src="__PUBLIC__/js/layer/layer.js"></script>
        <script src="__PUBLIC__/js/admin.js"></script>
        <script src="__PUBLIC__/js/echarts-all-3.js"></script>
		<script src="__PUBLIC__/webuploader/webuploader.min.js"></script>
        
        <link href="__PUBLIC__/js/chosen/chosen.min.css" rel="stylesheet" type="text/css" />
        <script src="__PUBLIC__/js/chosen/chosen.jquery.min.js"></script>
        
        
        <link rel="stylesheet" href="/static/default/wap/zoomify/zoomify.min.css">
        <script src="/static/default/wap/zoomify/zoomify.min.js"></script>
        
        <script src="/static/default/wap/js/clipboard.min.js"></script>

    </head>


		<style type="text/css">
			#ie9-warning{ background:#F00; height:38px; line-height:38px; padding:10px;
			position:absolute;top:0;left:0;font-size:12px;color:#fff;width:97%;text-align:left; z-index:9999999;}
			#ie6-warning a {text-decoration:none; color:#fff !important;}
        </style>

        


   <body>
   <iframe id="x-frame" name="x-frame" style="display:none;"></iframe>
<div class="main">