<script src="/public/js/clipboard.min.js"></script>

<br><code style="color:#F00">==系统功能菜单==</code><br>

<code>批量寄件：/pagesA/pages/mailExpress/more?type=1</code><a class="clipboard_btn" data-clipboard-text="/pagesA/pages/mailExpress/more?type=1"><b style="color:#06F">[复制]</b></a><br>
<code>寄省内：/pages/delivery/delivery?type=1</code><a class="clipboard_btn" data-clipboard-text="/pages/delivery/delivery?type=1"><b style="color:#06F">[复制]</b></a><br>
<code>寄得物：/pages/delivery/delivery?type=2</code><a class="clipboard_btn" data-clipboard-text="/pages/delivery/delivery?type=2"><b style="color:#06F">[复制]</b></a><br>
<code>寄重货：/pages/delivery/delivery?type=3</code><a class="clipboard_btn" data-clipboard-text="/pages/delivery/delivery?type=3"><b style="color:#06F">[复制]</b></a><br>

<code>电商寄申通：/pages/delivery/delivery?type=4</code><a class="clipboard_btn" data-clipboard-text="/pages/delivery/delivery?type=4"><b style="color:#06F">[复制]</b></a><br>
<code>电商寄京东：/pages/delivery/delivery?type=5</code><a class="clipboard_btn" data-clipboard-text="/pages/delivery/delivery?type=5"><b style="color:#06F">[复制]</b></a><br>
<code>电商寄顺心：/pages/delivery/delivery?type=6</code><a class="clipboard_btn" data-clipboard-text="/pages/delivery/delivery?type=6"><b style="color:#06F">[复制]</b></a><br>
<code>自定义电商寄：/pages/delivery/delivery?type=7</code><a class="clipboard_btn" data-clipboard-text="/pages/delivery/delivery?type=7"><b style="color:#06F">[复制]</b></a><br>
<code>云洋同城：/pages/delivery/delivery?type=11</code><a class="clipboard_btn" data-clipboard-text="/pages/delivery/delivery?type=11"><b style="color:#06F">[复制]</b></a><br>



<code>领航当日达：/pages/delivery/delivery?type=10</code><a class="clipboard_btn" data-clipboard-text="/pages/delivery/delivery?type=10"><b style="color:#06F">[复制]</b></a><br>
<code>运费查询：/pages/member/freight/freight</code><a class="clipboard_btn" data-clipboard-text="/pages/member/freight/freight"><b style="color:#06F">[复制]</b></a><br>
<code>意见反馈：/pages/member/suggest/suggest</code><a class="clipboard_btn" data-clipboard-text="/pages/member/suggest/suggest"><b style="color:#06F">[复制]</b></a><br>
<code>分享海报：/pages/member/invite/invite</code><a class="clipboard_btn" data-clipboard-text="/pages/member/invite/invite"><b style="color:#06F">[复制]</b></a><br>
<code>赚积分：/subpages/pages/integral/integral</code><a class="clipboard_btn" data-clipboard-text="/subpages/pages/integral/integral"><b style="color:#06F">[复制]</b></a><br>
<code>看视频领积分：/pages/coupon/index</code><a class="clipboard_btn" data-clipboard-text="/pages/coupon/index"><b style="color:#06F">[复制]</b></a><br>
<code>寄件地址：/pages/member/address/address?type=1</code><a class="clipboard_btn" data-clipboard-text="/pages/member/address/address?type=1"><b style="color:#06F">[复制]</b></a><br>
<code>收件地址：/pages/member/address/address?type=2</code><a class="clipboard_btn" data-clipboard-text="/pages/member/address/address?type=2"><b style="color:#06F">[复制]</b></a><br>
<code>超重补差：/pages/member/refund/refund</code><a class="clipboard_btn" data-clipboard-text="/pages/member/refund/refund"><b style="color:#06F">[复制]</b></a><br>
<code>返佣中心：/pages/member/rake-back/rake-back</code><a class="clipboard_btn" data-clipboard-text="/pages/member/rake-back/rake-back"><b style="color:#06F">[复制]</b></a><br>
<code>会员余额：/pages/member/remain/remain</code><a class="clipboard_btn" data-clipboard-text="/pages/member/remain/remain"><b style="color:#06F">[复制]</b></a><br>
<code>会员充值：/pages/member/recharge/recharge</code><a class="clipboard_btn" data-clipboard-text="/pages/member/recharge/recharge"><b style="color:#06F">[复制]</b></a><br>
<code>会员提现：/pages/member/withdraw/withdraw</code><a class="clipboard_btn" data-clipboard-text="/pages/member/withdraw/withdraw"><b style="color:#06F">[复制]</b></a><br>
<code>小程序跳转：/pages/mini/shun?id=1&appId=【appid】&path=【路径】</code><a class="clipboard_btn" data-clipboard-text="/pages/mini/shun?id=1&appId=【appid】&path=【路径】"><b style="color:#06F">[复制]</b></a><br>
<code>站外链接：/pages/common/content/web?url=您的域名</code><a class="clipboard_btn" data-clipboard-text="/pages/common/content/web?url=您的域"><b style="color:#06F">[复制]</b></a><br>


<code>优惠卷兑换：/subpages/pages/cashPrize/cashPrize</code><a class="clipboard_btn" data-clipboard-text="/subpages/pages/cashPrize/cashPrize"><b style="color:#06F">[复制]</b></a><br>
<code>卡密兑换：/subpages/pages/cashPrize2/cashPrize2</code><a class="clipboard_btn" data-clipboard-text="/subpages/pages/cashPrize2/cashPrize2"><b style="color:#06F">[复制]</b></a><br>
<code>积分商城首页：/pages/integral/integral</code><a class="clipboard_btn" data-clipboard-text="/pages/integral/integral"><b style="color:#06F">[复制]</b></a><br>

<code>每日红包：/pagesB/pages/takeout/index</code><a class="clipboard_btn" data-clipboard-text="/pagesB/pages/takeout/index"><b style="color:#06F">[复制]</b></a><br>
<code>取件员首页：/pagesB/pages/delivery/index</code><a class="clipboard_btn" data-clipboard-text="/pagesB/pages/delivery/index"><b style="color:#06F">[复制]</b></a><br>
<code>取件员申请：/pagesB/pages/delivery/apply</code><a class="clipboard_btn" data-clipboard-text="/pagesB/pages/delivery/apply"><b style="color:#06F">[复制]</b></a><br>
<code>取件员订单：/pagesB/pages/delivery/deliveryorder</code><a class="clipboard_btn" data-clipboard-text="/pagesB/pages/delivery/deliveryorder"><b style="color:#06F">[复制]</b></a><br>
<code>取件员财务：/pagesB/pages/delivery/money</code><a class="clipboard_btn" data-clipboard-text="/pagesB/pages/delivery/money"><b style="color:#06F">[复制]</b></a><br>


<code>发布跑腿订单：/pagesB/pages/delivery/add</code><a class="clipboard_btn" data-clipboard-text="/pagesB/pages/delivery/add"><b style="color:#06F">[复制]</b></a><br>
<code>跑腿抢单大厅：/pagesB/pages/delivery/paoorder</code><a class="clipboard_btn" data-clipboard-text="/pagesB/pages/delivery/paoorder"><b style="color:#06F">[复制]</b></a><br>
<code>拍照上传订单：/pagesC/pages/order/add</code><a class="clipboard_btn" data-clipboard-text="/pagesC/pages/order/add"><b style="color:#06F">[复制]</b></a><br>
<code>退货工单首页：/pagesC/pages/tuihuo/create</code><a class="clipboard_btn" data-clipboard-text="/pagesC/pages/tuihuo/create"><b style="color:#06F">[复制]</b></a><br>


<code>城市代理外链：/pages/common/content/web?url={$CONFIG.site.host}/agent</code><a class="clipboard_btn" data-clipboard-text="/pages/common/content/web?url={$CONFIG.site.host}/agent"><b style="color:#06F">[复制]</b></a><br>
<code>等级代理外链：/pages/common/content/web?url={$CONFIG.site.host}/retail</code><a class="clipboard_btn" data-clipboard-text="/pages/common/content/web?url={$CONFIG.site.host}/retail"><b style="color:#06F">[复制]</b></a><br>



<script>
$(function(){
	var clipboard = new ClipboardJS('.clipboard_btn');
	clipboard.on('success', function(e) {
		console.info('Action:', e.action);
		console.info('Text:', e.text);
		console.info('Trigger:', e.trigger);
		e.clearSelection();
		layer.msg('复制【'+e.text+'】成功', {icon: 1});
	});
	clipboard.on('error', function(e) {
		console.error('Action:', e.action);
		console.error('Trigger:', e.trigger);
		layer.msg('复制失败', {icon: 1});
	});
});	
</script>