<style>
.footer li {
    width:33.3%;
}
</style>
<div class="footer-space"></div>
	<footer class="footer">
		<ul>
			<li>
				<a href="{:url('index/index')}">
					<img src="/static/default/newwap/img/home.png">
					<p data-localize="fttab.shouye">首页</p>
				</a>
			</li>
			
			<li>
				<a href="{:url('order/index')}">
					<img src="/static/default/newwap/img/checkstand.png">
					<p data-localize="store.syt">订单</p>
				</a>
			</li>
         
        
			<li>
				<a href="{:url('index/set')}">
					<img src="/static/default/newwap/img/financial.png">
					<p data-localize="store.caiwu">设置</p>
				</a>
			</li>
		</ul>
	</footer>
</body>
</html>
