<div class="listBox clfx">
    <div class="menuManage">
        <form  target="x-frame" action="{:url('sensitives/create')}" method="post">
            <div class="admin-main-sc-add">
                <div class="admin-table-box">
                    <table bordercolor="#e1e6eb" cellspacing="0" width="100%" border="1px"  style="border-collapse:collapse;margin:0px;vertical-align:middle;background-color:#FFF;">

                        <tr>
                            <td class="admin-table-left">批量添加敏感词：</td>
                            <td class="admin-table-right">
                                <textarea name="data[words]" cols="80" rows="18"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                            </td>
                        </tr>



                    </table>
                </div>
                <div class="admin-small-qr"><input type="submit" value="确认批量添加" class="admin-btn-small-quren"/></div>
            </div>
        </form>
    </div>
</div>
