<div class="listBox clfx">
    <div class="menuManage">
        <form  target="x-frame" action="{:url('user/codes',array('user_id'=>$user_id,'p'=>$p))}" method="post">
            <div class="admin-main-sc-add">
                <div class="admin-table-box">
                    <table  bordercolor="#dbdbdb" cellspacing="0" width="100%" border="1px"  style="border-collapse:collapse;margin:0px;vertical-align:middle;background-color:#FFF;">
                        <tr>
                            <td class="admin-table-left">兑换码：</td>
                            <td class="admin-table-right">
                                <input name="code" type="text" class="admin-sc-add-text-name w150"/>
                                <code>输入兑换码兑换优惠券或者VIP</code>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="admin-small-qr"><input type="submit" value="确定兑换" class="admin-btn-small-quren"/></div>
            </div>
        </form>
    </div>
</div>




