{include  file='public:header'/}
<div class="admin-main-bt">
    <ul>
        <li class="li1">设置</li>
        <li class="li2">乡镇设置</li>
        <li class="li2 li3">小区管理</li>
    </ul>
</div>
<div class="admin-main-js">
    <div class="admin-js-nr">
        <div class="admin-select-nr">
            <div class="left">
                {:BA('business/community',array('business_id'=>$business_id),'刷新','','',600,360)}
                {if condition="$business_id"}
                    {:BA('business/community_create',array('business_id'=>$business_id),'添加','','',600,360)}
                {/if}
            </div>
            <div class="right">

              <form class="admin-search-form" method="post" action="{:url('business/community')}">
                    <div class="admin-sele-hidden" id="admin-sele-hidden">
                    <div class="admin-sele-k">
                      <input type="text" name="keyword" placeholder=" 输入关键字"  value="{$keyword}" class="admin-input-text"/>
                       <input type="submit" value="  搜索"  class="admin-input-button"/>
                    </div>
                </div>
            </form>
           </div> 
        </div>
        <form target="x-frame" method="post">
            <div class="admin-table-box">
                <table bordercolor="#e1e6eb" cellspacing="0" width="100%" border="1px"  style="border-collapse:collapse;margin:0px;vertical-align:middle;background-color:#FFF;">
                    <tr>
                        <td><input type="checkbox" class="checkAll" rel="community_id"/></td>
                        <td>ID</td>
                        <td>小区名称</td>
                        <td>代理ID</td>
                        <td>代理昵称</td>
                        <td>代理分成费率</td>
                        <td class="w50">是否本地取件</td>
                        <td class="w50">首重</td>
                        <td class="w50">续重</td>
                        <td>排序</td>
                        <td>操作</td>   
                    </tr>
                    {foreach name="list" item="var"}
                        <tr>
                            <td><input class="child_business_id" type="checkbox" name="community_id[]" value="{$var.community_id}"/></td>
                            <td>{$var.community_id}</td>
                            <td>{$var.province.name}-{$var.city.name}-{$var.area.area_name}-{$var.business.business_name}-{$var.name}</td>
                            <td>{$var.user_id}</td>
                            <td>{$var.user.nickname}</td>
                            <td>{:round($var['ratio']/100,2)}%</td>
                            <td>
                                {eq name="var.open" value="0"}<span class="weixin">否</span>{/eq}
                                {eq name="var.open" value="1"}<span class="weibo">是</span>{/eq}
                            </td>
                            <td style="color:#F00">¥{:round($var['shou']/100,2)}</td>
                            <td style="color:#00f">¥{:round($var['xu']/100,2)}</td>
                            <td>{$var.orderby}</td>
                            <td>
                                {:BA('business/community_edit',array("community_id"=>$var["community_id"],'business_id'=>$var["business_id"]),'编辑','','admin-btn-default',600,360)}
                                {:BA('business/community_delete',array("community_id"=>$var["community_id"],'business_id'=>$var["business_id"]),'删除','act','admin-btn-default')}
                                {:BA('business/cate_province',array("business_id"=>$var["business_id"],"community_id"=>$var["community_id"]),'价格配置','','admin-btn-default',600,300)}
                          </td>
                        </tr>
                    {/foreach}
                </table>
                {$page}
            </div>
            <div class="admin-select-nr">
                <div class="left">
                    {:BA('business/community_delete',array('business_id'=>$business_id),'批量删除','list',' a2')}
                </div>
            </div>
        </form>
    </div>
</div>
{include  file='public:footer'/}        