{include file='public:header'/}

{if condition="!$is_weixin"}
    <div class="headers">
        <img src="/static/default/newwap/img/return.png" onclick="javascript:history.back(-1);">
        <p>流水统计</p>
    </div>
    <div class="headers-space"></div>
{/if}

{if condition="$is_weixin"}
    <div class="headers">
        <p>流水统计</p>
    </div>
    <div class="headers-space"></div>
{/if}


<style>
.list-media-x ul {margin-top:0rem;}
ul{padding-left: 0px;}
.list-media-x li {margin-bottom:0rem;}
</style>


<div class="list-media-x" id="list-media">
	<div class="blank-10 bg"></div>
	<ul></ul>
</div>	    
<script>
	$(document).ready(function(){	 
		loaddata('{:url("team/tjload",array("orderStatus"=>$orderStatus,"t"=>$nowtime,"p"=>"0000"))}',$("#list-media ul"), true);
	});
</script>
{include file="public:footer"}
